main {
  min-height: 80vh;
}
a {
  padding: 0 10px;
}

a:link {
  color: black;
}

a:visited {
  color: #120624;
}

#contactEmail {
  color: #45d6e7;
  text-decoration: none;
}

#contactEmail:hover {
  color: #ea39b8;
}
